h1 {
  text-align: center;
}
#game-over {
  width: 90%;
  height: 65vh;
  border-radius: 10px;
  font-size: 50px;
  text-align: center;
  color: #e00;
  line-height: 150%;
  padding-top: 15%;
  text-shadow: yellow 2px 2px;
  background-color: #aaa;
  margin: 0 2%;
  margin-top: -100%;
  position: absolute;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}
.food {
  background-color: #e00;
}

.snake {
  background-color: black;
}

.ghost {
  background-color: gray;
}
#score-card {
  font-size: 24px;
  width: 800px;
  text-align: right;
  color: #333;
  display: block;
  margin: 0 auto;
}
